:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
	width: 100%;
	background: #fffcf9;
	margin: 0;
}

body {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	background: #fffcf9;
}

.homePage {
	height: 100%;
	width: 100%;
}
/********************************* Menu */

.menu {
	margin: auto;
	margin-top: .5rem;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	border: 10px solid rgba(0, 0, 0, 0.3);
	border-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500") 25
		25 round;
	background-clip: text;
	text-align: center;
	background-position: center;
	width: 80%;
}

#menuTitle {
	text-align: center;
	font-size: 2rem;
	margin: 0;
}

.menuLinks ul {
	list-style: none;
	display: inline-flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

.menuLinks li {
	margin: 0;
	padding: 1rem;
}

.menuLinks a {
	text-decoration: none;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	font-size: 1.2rem;
	background-position: center;
	justify-self: center;
}

.homePage {
}

/*-----------Featured Style Section------------------*/

#featuredStyleTitle {
	text-align: center;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

.featuredStyleSection {
	display: flex;
	flex-direction: column;
	margin: auto;
	color: black;
	border: 10px solid rgba(0, 0, 0, 0.3);
	border-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500") 25
		25 round;
	background-clip: text;
	text-align: center;
	background-position: center;
	height: 25rem;
	width: 80%;
}

#featuredStyle {
	width: 96%;
	height: 15rem;
	object-fit: contain;
	margin: auto;
	margin-top: .5rem;
}

#styleTitle {
	margin: auto;
	font-size: 2rem;
	margin-top: .5rem;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

#styleDescription {
	height: 75px;
	width: 96%;
	margin: auto;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

/*-----------Featured Style Local Beers----------------*/

#featuredStyleBreweryTitle {
	text-align: center;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

.featuredStyleLocalBeersSection {
	display: flex;
	flex-direction: column;
	margin: auto;
	color: black;
	border: 10px solid rgba(0, 0, 0, 0.3);
	border-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500") 25
		25 round;
	text-align: center;
	background-position: center;
	height: 25rem;
	width: 80%;
}

#featuredStyleLocalBeersPicture {
	width: 96%;
	height: 15rem;
	border-radius: 10px;
	object-fit: contain;
	margin-top: .5rem;
	margin: auto;
}

.featuredStyleLocalBeersFooter {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
}

.featuredStyleLocalBeersFooter h1 {
	margin: auto;
	font-size: 2rem;
	margin-top: .5rem;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

/*******************************Brewery Map Page */

#breweriesTitle {
	text-align: center;
	font-size: 2rem;
	margin-top: .5rem;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
	margin-bottom: .25rem;
}

.Breweries ul {
	margin: auto;
	padding: 0;
	margin-bottom: .25rem;
}

.Breweries li {
	margin: .1rem;
	padding: .1rem;
	list-style: none;
	text-align: center;
}

.Breweries li a {
	font-size: 1.2rem;
	text-decoration: none;
	justify-content: center;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

.breweriesMap {
	display: flex;
	border: 10px solid rgba(0, 0, 0, 0.3);
	border-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500") 25
		25 round;
	text-align: center;
	background-position: center;
	width: 80%;
	margin: auto;
	margin-bottom: .25rem;
}

#MapofBreweries {
	width: 100%;
	margin: auto;
	margin-top: 0rem;
	height: 18rem;
}

/********************************* Breweries Page */

#breweryPageTitle {
	text-align: center;
}
