:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background: #5eb1bf;
}

/********************************* Menu */

.menu {
	border: 2px solid #491e0d;
	border-radius: 10px;
	padding: .5rem;
	/* background-image: url("https://i.kym-cdn.com/photos/images/original/000/897/535/615.gif"); */

	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	text-align: center;
	background-position: center;
}

#menuTitle {
	text-align: center;
	font-size: 2rem;
	margin: auto;
}

.menuLinks ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.menuLinks li {
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .5rem;
	margin: auto;
}

.menuLinks a {
	text-decoration: none;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	font-size: 1rem;
	background-position: center;
}

/********************************* homepage */

.homePage {
}

.homePageFeaturedBeer {
}

#featuredBeerTitle {
	text-align: center;
}

.randomBeerPictureSection {
	display: flex;
	justify-content: space-around;
	height: 15rem;
	width: 100%;
	margin: auto;
	object-fit: contain;
}

#randomBeerPicture {
	height: 100%;
	Width: 45%;
	border: 2px solid #491e0d;
	border-radius: 10px;
	object-fit: contain;
}

#randomBeerBreweryPicture {
	height: 100%;
	width: 45%;
	border: 2px solid #491e0d;
	border-radius: 10px;
	object-fit: contain;
}

#featuredStyleTitle {
	text-align: center;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

.featuredStylePictureSection {
	display: flex;
	margin: auto;
	justify-content: space-around;
	height: 15rem;
	width: 100%;
	object-fit: contain;
}

#styleTitle {
	margin: .25rem;
	font-size: 1rem;
}

#featuredStyle {
	width: 45%;
	height: 15rem;
	border: 2px solid #491e0d;
	border-radius: 10px;
	object-fit: contain;
}

#featuredStyleDescription {
	width: 41%;
	height: 14rem;
	border: 2px solid red;
	border-radius: 10px;
	padding: 2rem;
	/* padding: .25rem; */
}

#featuredStyleBreweryTitle {
	text-align: center;
	background-image: url("https://media1.tenor.com/images/9cb177c1cd81f8f57a61fac78c6c55f4/tenor.gif?itemid=15570500");
	color: transparent;
	background-clip: text;
	background-position: center;
}

.featuredStyleBreweryPictureSection {
	width: 95%;
	height: 15rem;
	border: 2px solid #491e0d;
	object-fit: contain;
	margin: auto;
	border-radius: 10px;
}

#featuredStyleBreweryBeerPicture {
	width: 100%;
	height: 100%;
	/* height: auto; */
	object-fit: contain;
}

.featuredStylePictureFooter {
	display: flex;
	justify-content: space-around;
}

/*******************************Brewery Map Page */

.breweries {
}

#breweriesTitle {
	text-align: center;
	margin: .25rem;
}

.breweriesList ul {
	margin: 0;
	padding: 0;
}

.breweriesList li {
	margin: .25rem;
	padding: .25rem;
	list-style: none;
	text-align: center;
}

.breweriesList li a {
	font-size: 1rem;
	text-decoration: none;
}

.breweriesMap {
	display: flex;
}

#MapofBreweries {
	width: 95%;
	margin: auto;
	margin-top: 0rem;
	height: 18rem;
	border: 2px solid #491e0d;
	border-radius: 10px;
}

/********************************* Breweries Page */

#breweryPageTitle {
	text-align: center;
}
